.Card{
    display: inline-block;
    vertical-align: bottom;
    width: 20vw;
    height: 13vw;
    margin: 5% 5.2%;
    /* background-color: white; */
    /* border: 1px solid rgb(179, 179, 179); */
    text-align: center;
    font-size: 1.4vw;
}

.Card img:hover{
    box-shadow: 0px 5px 30px rgb(189, 189, 189);
    width: 110%;
    height: 14vw;
    transform: translate(-3%,-3%);
}

.Card img{
    width: 100%;
    height: 13vw;
    overflow: hidden;
    border-bottom: 1px solid rgba(171, 171, 171, 0.673);
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 0.7vh;
    align-items: center;
}
.best{
    margin: 0 auto;
    display: block;
    width: 7vw;
    border-radius: 10px;
    background-color: rgb(255, 223, 219);
}

@media (max-width: 906px){
    .Card{    
    width: 35vw;
    height: 33vw;
    font-size: 2.5vw;
}
.Card img{
    width: 100%;
    height: 25vw;
}
.Card img:hover{
    box-shadow: 0px 5px 30px rgb(189, 189, 189);
    width: 110%;
    height: 27vw;
    transform: translate(-3%,-3%);
}
.best{
    display: block;
    width: 20vw;
    heith: 10vh;
    background-color: linen;
}

}
